@media(max-width:686px){
    #main-home{
        display:grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        grid-template-areas: 
        'text'
        'img';
        width: 100%;
        row-gap: 4px;
              

        
    }
    
    #home-img{
        grid-area:img;
        height: 80%;
        width: 80%;
        object-fit: cover;
        
    }
}
