/* Já concluido, não alterar */

@media(max-width: 810px){

    #main-c {
        display: flex;    
        flex-direction: column;
    }

    #mapa {
        
        width: 100%;
        height: 50%;
    }
    #mapa #iframe {
        width: 100%;
        height: 35vw;
      }

    
}
