/* Já concluido, não alterar */

@media(max-width: 910px){

    .cards{
         
        width: 30vw;   
    }

    .cards .end{
        margin-bottom: 20px;
    }
}


@media(max-width: 663px){

    .cards{
        
          
        width: 50vw;
       
        
    }
}