#main-home {
    display:flex;
    justify-content: center;

    justify-content: space-between;
}

#home-text {
    margin: 5rem;
}

#home-text h1 {
    font-size: clamp(3em, 3em + 3vw, 3.5em);
}
#home-text p {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

#home-text, #home-img {

    width: 100%;

}

#home-img {

    width: 50vw;
}
