/* Já concluido, não alterar */
#main-c {
    display: flex;
    margin: 0;
    padding: 0;
   justify-content: center;
   height: auto;
}

#mapa {
    display: flex;
    border: 0;
    margin: 0;
    width: 50vw;
}
#mapa #iframe {
    width: 50vw;
}

#form legend{
    font-size: clamp(0.8em, 0.8em + 0.5vw, 0.4em);
    margin-bottom: 20px;


}

#form fieldset{
    border: none;

}

#form {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 5%;
    
}
#form strong {
    margin: 0 5.2rem 0 0.3rem;
}



#phonecontact,  #namecontact{
    width: 80%;
    margin-bottom: 1.5rem;
    padding: 1rem 0 0 2rem;
    border-radius: 0.6rem;
    font-size: clamp(0.5em, 0.5em + 0.5vw, 0.75em);
}
#phonecontact {
    height: 10rem;
}

#form strong{
    margin-bottom: 2rem;
}


.btcontact {
    background-color: #FF6340;
    color:white;
    border-radius: 0.6rem;
    width: 7rem;
    height: 2rem;
    border: 0;
    cursor: pointer;
    align-self: baseline;
    font-size: clamp(0.5em, 0.5em + 0.5vw, 0.75em);
    
}
