.mapacontainer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
   justify-content: center;
}

.mapa {
    display: flex;
    position: relative;
    justify-content: end;
    flex-direction: row;
    border: 0;
    margin: 0;
    
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5%;
   
}


#phonecontact,  #namecontact{
    width: 80%;
    margin-bottom: 23px;
    padding-top: 15px;
    border-radius: 3px;
}

#h4-form{
    margin-bottom: 20px;
}


.btcontact {
    background-color: #FF6340;
    color:white;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}


/* Formulario */