#main-home {
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    margin: 0;
}

#text-a {
    margin: 3rem;
    margin-bottom: 2rem;
}

#text-a h1 {
    font-size: clamp(2em, 2em + 2vw, 2.5em);
}
#text-a p {
    font-size: clamp(0.5em, 0.8em + 0.8vw, 1.1em);
    text-align: justify;
}

#text-a {

    width: 50vw;

}

#home-img {
    
    width: 50vw;
}

