#footer {
    display: flex;
    flex-direction: column ;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

#nav-footer {
    height: 5rem;
    align-self: center;
}

#contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

#nav-footer li a {
    display: block;
    color: black;
    padding: 0.8rem 4rem 0.8rem 4rem;
    text-decoration: none;
}