.footer {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    margin-top: 5rem;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

.nav-footer {
    bottom: 0;
    align-self: center;
    
}

.contacts-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.nav-footer .a-footer {
    display: inline;
    color: black;
    padding: 0.8rem 4rem 0.8rem 4rem;
    text-decoration: none;
}
.nav-ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.a-footer:last-child {
    padding-right: 0;
}