/*
class nav-ul responde ao footer também.
*/
.header, .nav-ul, #nav-header {
    display: flex;
    
}

.header {

    justify-content: space-around;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    height: 80vh;
    background-color: #333740;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    

}

.nav-ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
}

.nav-header {
    top: 0;
    left: 0;
    width: 80vw;   
}


.nav-ul li a {
    display: block;
    color: white;
    padding: 0.8rem 4rem 0.8rem 4rem;
    text-decoration: none;
}

.logo{
    background-color: #FF5933;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}