/*
class nav-ul responde ao footer também.
*/
.header, .nav-ul, #nav-header {
    display: flex;
    
}

.header {

    justify-content: space-around;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    height: 80vh;
    background-color: #333740;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    

}

.nav-ul {
    list-style-type: none;
    margin-top: 33px;

}

.nav-header {
    top: 0;
    left: 0;
    width: 80vw;   
}


.nav-ul .a-header {
    color: white;
    padding-right: 3.5rem;
    text-decoration: none;
}


.logo {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FF5933;
    color: #FFFFFF;
    height: fit-content;
    border-radius: 4px;
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}