/* Já concluido, não alterar */

ul {
    margin: 0px;
    padding: 0px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  a:hover {
    background: rgba(0, 0, 0, 0.185);
    border-radius: 4px;
  }
  #logo{
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      background-color: #FF5933;
      color: #FFFFFF;
      height: fit-content;
      border-radius: 5px;
      padding: 8px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 36px;
  }
  
  
  #header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    background-color: #333740;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 35vw;  
  }
  
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  
  #menu a {
    display: block;
    padding: 0.5rem;
    margin-right: 30px;
  }
  
  #btn-mobile {
    display: none;
  }

    .logo:hover{
    background-color: #333740;
  }
